/* Staff Popup */

#staff {
  padding: 3em 3em 6em 3em;
  display: inline;

  .card {
    box-shadow: 0 4px 8px 0 _palette(bg-alt);
    max-width: 300px;
    margin: auto;
    text-align: center;
    padding-bottom: 1em;
    margin: 1em 0;
    min-height: 31em;

    &:hover {
      // transform: rotateY(180deg);
      // background-color: _palette(yellow1);
    }

    h3 {
      font-size: 1.35em;

      &:hover {
        color: _palette(fg) !important;
      }
    }

    a {
      text-decoration: none;
      font-size: 22px;
      color: black;
      padding: 0.5em 0.5em;
    }
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    // width: 100%;
    padding: 0 0.5em;
    margin: auto;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {
    // margin: 0 -5px;
    margin: auto;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  // @media screen and (max-width: 600px) {
  //   .column {
  //     width: 100%;
  //     display: block;
  //     margin-bottom: 20px;
  //   }
  // }

  @include breakpoint("<=small") {
    @include padding(3em, 0);
    width: calc(100% - 3em);
  }

  @include breakpoint("<=xsmall") {
    @include padding(3em, 1em);

    .card {
      box-shadow: 0 4px 8px 0 _palette(bg-alt);
      width: 100%;
      max-width: 100%;
      margin: auto;
      text-align: center;
      padding-bottom: 1em;
      margin: 1em 0;
      min-height: 31em;

      h2 {
        font-size: 2em;

        &:hover {
          color: _palette(fg) !important;
        }
      }

      h3 {
        font-size: 1.5em;
        margin: 2em 0;
      }

      a {
        text-decoration: none;
        font-size: 22px;
        color: black;
        padding: 0.5em 0.5em;
      }
    }
  }
}
