/* Staff Popup */

#staff {
  // padding: 0 3em 6em 3em;
  // display: inline;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: _palette(blue3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  ///////////////////////////
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;

  section {
    padding: 10em 0;
  }

  .heading {
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5rem;
    text-align: center;
    position: relative;

    &:after {
      content: " ";
      width: 10rem;
      height: 0.8rem;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2rem;
    }
  }

  ///////START NEW CARD/////////////////

  .new-card {
    background-color: _palette(blue1);
    height: 450px;
    width: 310px;
    position: relative;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px 2px _palette(bg-alt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    padding-bottom: 2rem;

    &.overlay {
      background-color: _palette(yellow1);
    }

    h3 {
      font-size: 1.25rem;
      margin: 1em 0;
      text-align: center;
      z-index: 1;
      position: absolute;
      bottom: 30%;
      // left: 2em;

      span {
        color: _palette(yellow1);
      }
    }

    .job-title {
      z-index: 1;
      color: _palette(fg-light);
      font-size: 1rem;
      position: absolute;
      bottom: 15%;
    }

    h4 {
      font-size: 2rem;
      margin: 1em 0;
      text-align: center;
      z-index: 10;
      position: relative;
      text-transform: uppercase;
      color: _palette(yellow1);
      text-align: left;
    }

    h5 {
      font-size: 1.25rem;
      color: _palette(fg-light);
    }

    .new-divider {
      background-color: _palette(fg);
      height: 2px;
      width: 50px;
      position: absolute;
      bottom: 31%;
      z-index: 1;
    }
    button {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      margin: 0 auto;
      z-index: 1;
    }

    .photo1 {
      height: 100%;
      width: 100%;
      background: url(../../../image/staff/profile-atn.jpg);
      position: absolute;
      bottom: 0;
      background-size: 100% 100%;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
    }

    .photo2 {
      height: 100%;
      width: 100%;
      background: url(../../../image/staff/profile-geom.jpg);
      position: absolute;
      bottom: 0;
      background-size: 100% 100%;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
    }
    .photo3 {
      height: 100%;
      width: 100%;
      background: url(../../../image/staff/profile-kareem.jpg);
      position: absolute;
      bottom: 0;
      background-size: 100% 100%;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
    }
    .photo4 {
      height: 100%;
      width: 100%;
      background: url(../../../image/staff/profile-delgado.jpg);
      position: absolute;
      bottom: 0;
      background-size: 100% 100%;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
    }
    .photo5 {
      height: 100%;
      width: 100%;
      background: url(../../../image/staff/profile-spee-d.jpg);
      position: absolute;
      bottom: 0;
      background-size: 100% 100%;
      border-radius: 8px;
      transition: 0.5s ease-in-out;
    }

    &:hover {
      transition: 0.25s ease-in-out;
      h3 {
        color: _palette(blue1);

        span {
          transition: 0.25s ease-in-out;
          color: _palette(fg);
        }
      }
      .job-title {
        color: _palette(blue1);
      }
      .photo1,
      .photo2,
      .photo3,
      .photo4,
      .photo5 {
        background-size: 103% 103%;
        border-radius: 8px;
        opacity: 0.25;
      }
    }
  }

  ///////END NEW CARD/////////////////

  .card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 7rem;
  }

  // .card {
  //   width: 25rem;
  //   background-color: _palette(blue1);
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   justify-content: center;
  //   margin: 2rem;
  //   box-shadow: 0.5rem 0.5rem 0.5rem _palette(border);
  //   padding-bottom: 2rem;

  // > .card-img {
  //   width: 100%;
  //   height: 30rem;
  //   object-fit: cover;
  //   clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
  // }

  // h3 {
  //   font-size: 1.5rem;
  //   margin: 1em 0;
  //   text-align: center;

  //   span {
  //     color: _palette(yellow1);
  //   }
  // }

  //   .social {
  //     // button {
  //     //   margin-right: 4rem;
  //     // }
  //     justify-content: center;
  //   }
  // }

  // .profile-img {
  //   width: 15rem;
  //   height: 15rem;
  //   object-fit: cover;
  //   border-radius: 50%;
  //   margin-top: -11rem;
  //   z-index: 1000;
  //   border: 0.5rem solid _palette(blue1);
  // }

  // .job-title {
  //   color: _palette(fg-light);
  //   font-size: 1rem;
  // }

  .about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333333;
  }

  ///////////////////////////

  // .card {
  //   box-shadow: 0 4px 8px 0 _palette(bg-alt);
  //   max-width: 300px;
  //   margin: auto;
  //   text-align: center;
  //   padding-bottom: 1em;
  //   margin: 5em 0;
  //   min-height: 31em;
  //   background-color: _palette(border);

  //   h2 {
  //     padding: 0.5em 1em 0 1em;
  //   }

  //   h3 {
  //     font-size: 1.35em;
  //   }

  //   a {
  //     text-decoration: none;
  //     font-size: 22px;
  //     color: black;
  //     padding: 0.5em 0.5em;
  //   }
  // }

  /* The Modal (background) */
  .modal,
  .modal1,
  .modal2,
  .modal3,
  .modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1001; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    // background-color: rgb(0, 0, 0); /* Fallback color */
    // background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    backdrop-filter: blur(5px);
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: transparentize(_palette(bg-alt), 0.15);
    margin: 5% auto; /* 5% from the top and centered */
    padding: 5rem;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    text-align: left;
    h3 {
      color: _palette(yellow1);
      font-size: 2em;
      text-align: left;
      text-transform: uppercase;
    }

    .modal-footer {
      padding-top: 3rem;
      text-align: center;
    }
  }
  /* The Close Button */
  .close {
    color: _palette(fg);
    float: right;
    font-size: 50px;
    font-weight: 400;
    position: relative;
    right: -1em;
    top: -1.5em;
    z-index: 2000;
  }

  .close:hover,
  .close:focus {
    color: _palette(highlight);
    text-decoration: none;
    cursor: pointer;
    transition: color 0.5s;
  }

  .title {
    color: grey;
    font-size: 18px;
  }

  /* Float four columns side by side */
  .column {
    float: left;
    // width: 100%;
    padding: 0 0.5rem;
    margin: auto;
  }

  /* Remove extra left and right margins, due to padding in columns */
  .row {
    // margin: 0 -5px;
    margin: auto;
    background-color: _palette(accent3);
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Add Animation */
  @keyframes animatetop {
    from {
      top: -300px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }

  @include breakpoint("<=small") {
    @include padding(3em, 0);
    width: calc(100% - 3em);

    .column {
      float: left;
      padding: 1em 0;
      margin: auto;
    }

    .card {
      width: 100%;
      max-width: 100%;
      margin: auto;
      text-align: center;
      padding-bottom: 1em;
      margin: 2rem;
      // min-height: 31em;

      .modal-content {
        margin: 15% auto; /* 15% from the top and centered */
        padding: 1.5em;
        border: 1px solid _palette(highlight);
        width: 85%; /* Could be more or less, depending on screen size */

        h2 {
          font-size: 1em;
          outline: 1px red solid;

          &:hover {
            color: _palette(fg) !important;
          }
        }

        h3 {
          font-size: 1.5em;
          margin: 2em 0;
        }

        a {
          text-decoration: none;
          font-size: 22px;
          color: black;
          padding: 0.5em 0.5em;
        }
      }
      /* The Close Button */
      .close {
        color: _palette(fg);
        float: right;
        font-size: 50px;
        font-weight: 400;
        position: relative;
        right: 0em;
        top: -0.5em;
      }

      .close:hover,
      .close:focus {
        color: _palette(highlight);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @include breakpoint("<=xsmall") {
    @include padding(3em, 1em);
    width: 100%;

    h2.heading {
      font-size: 2rem;
    }

    .column {
      float: left;
      padding: 1em 0;
      margin: auto;
    }

    .card {
      width: 100%;
      max-width: 100%;
      margin: auto;
      text-align: center;
      padding-bottom: 1em;
      margin: 2rem;
      // min-height: 31em;

      .modal-content {
        margin: 15% auto; /* 15% from the top and centered */
        padding: 1.5em;
        border: 1px solid _palette(highlight);
        width: 85%; /* Could be more or less, depending on screen size */

        h2 {
          font-size: 1em;

          &:hover {
            color: _palette(fg) !important;
          }
        }

        h3 {
          font-size: 1.5em;
          margin: 2em 0;
        }

        a {
          text-decoration: none;
          font-size: 22px;
          color: black;
          padding: 0.5em 0.5em;
        }
      }
      /* The Close Button */
      .close {
        color: _palette(fg);
        float: right;
        font-size: 50px;
        font-weight: 400;
        position: relative;
        right: 0em;
        top: -0.5em;
      }

      .close:hover,
      .close:focus {
        color: _palette(highlight);
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
